DISCORD_TOKEN=your_discord_bot_token
GUILD_ID=your_discord_server_id

#You can use multiple api keys and places
ROBLOX_API_KEY_1=your_roblox_api_key    #user-restrictions:read user-restrictions:write
UNIVERSE_ID_1_1=your_universe_id
UNIVERSE_ID_1_2=another_universe_id

ROBLOX_API_KEY_2=your_roblox_api_key
UNIVERSE_ID_2_1=your_universe_id
UNIVERSE_ID_2_2=another_universe_id

TAG_CLOSED=tag_id
TAG_BANNED=tag_id
TAG_REVIEWED=tag_id
