DISCORD_TOKEN=
GUILD_ID=

ROBLOX_API_KEY_1=    #user-restrictions:read user-restrictions:write
UNIVERSE_ID_1_1=
UNIVERSE_ID_1_2=

ROBLOX_API_KEY_2=
UNIVERSE_ID_2_1=
UNIVERSE_ID_2_2=

TAG_CLOSED=
TAG_BANNED=
TAG_REVIEWED=
